.Navbar{
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    font-style: italic;
   color: blueviolet;
   font-weight: bold;
   background: rgb(180,25,114);
   background: linear-gradient(0deg, rgba(180,25,114,0.7428221288515406) 11%, rgba(214,253,45,1) 100%);
}
.navbarheadbutton{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    padding: 50px;

}
button{
    width: 200px;
    height: 50px;
    background-color: rgb(104, 104, 226);
    font-size: large;
    border-radius: 10px;
}
table{
    background-color: white;
    width: 98%;
    font-size: large;
    border-collapse: collapse;
    text-align: left;
   margin: 20px;
}

table, th, td {
    border-left: none;
    border-right: none;
    padding: 10px;
  }

  body{
    background-color: aqua;
  }
  .addform{
    
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    /* display: flex;
    justify-content: space-evenly;
    font-size: 300px; */
  }
  input{
    font-size: xx-large;

    width: 200px;
    height: 50px;
    margin: 20px;
  }
  .formbuttons{

    display: flex;
    justify-content: space-around;
  }
 